{% extends 'includes/_navbar.html' %}

{% block body %}
  <h1>Edit Assignment</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="" enctype="multipart/form-data"> 
    <div class="form-group">
      {{ render_field(form.name, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.description, class_="form-control", id="editor") }} 
    </div>
    <div class="form-group">
      {{ render_field(form.score, class_="form-control") }} 
    </div>
    <div class="form-group">
      {{ render_field(form.due_date, class_="form-control") }} 
    </div>
    <div class="form-group">
      {{ render_field(form.file, class_="form-control-file") }} 
      {% if danger_message %}
        <small class="text-danger">{{ danger_message }}</small> 
        <br>
      {% endif %}
      {% if current_file %}
        <small class="text-muted">Current File: {{ current_file }}</small> 
      {% endif %}
    </div>
    <p>
      <input class="btn btn-primary" type="submit" value="Submit">
      <a href="{{ url_for('classwork', class_id=class_id) }}" class="btn btn-default">Cancel</a> 
    </p>
  </form>
{% endblock %}



