<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FAQ</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href="static/images/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  <!-- Customized Bootstrap Stylesheet -->
  <link href="static/css/bootstrap.min.home.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="static/css/faqstyle.css" rel="stylesheet">
</head>
<body>
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>BlueLearn</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/faq" class="dropdown-item">FAQ</a>
                        <a href="/privacypolicy" class="dropdown-item">Privacy Policy</a>
                        <a href="/terms" class="dropdown-item">Terms & Condition</a>
                    </div>
                </div>
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
            <a href="/login" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->
 <!-- FAQ 1 - Bootstrap Brain Component -->
<section class="bg-white py-3 py-md-5">
    <div class="container">
      <div class="row gy-5 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6">
          <img class="img-fluid rounded" loading="lazy" src="/static/images/faq.png" alt="How can we help you?">
        </div>
        <div class="col-12 col-lg-6">
          <div class="row justify-content-xl-end">
            <div class="col-12 col-xl-11">
              <h2 class="h1 mb-3">How can we help you?</h2>
              <p class="lead fs-4 text-secondary mb-5">We're here to assist you! If you've already found the answer you're looking for, fantastic! If not, feel free to reach out to us via email for personalized assistance.</p>
              <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How do I sign up for an account?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>To sign up for an account please follow these steps:</p>
                      <ul>
                        <li>Go to our website's homepage.</li>
                        <li>Look for the "Join Now" button, typically located at the top right corner of the page.</li>
                        <li>Click on the "Register"link.</li>
                        <li>Fill out the registration form with the required information, such as your name, email address, role, and password.</li>
                        <li>Agree to the terms of service and any other policies, if prompted.</li>
                        <li>Once you've successfully signed up, you should be redirected to the login page.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      I forgot my password. How can I reset it?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul>
                        <li>Go to the login page of our website.</li>
                        <li>Click on the "Forgot Password?" link.</li>
                        <li>Enter your email address associated with your account.</li>
                        <li>Enter your security question and answer associated with your account.</li>
                        <li>Once submitted successfully, follow the instructions to create a new password..</li>
                        <li>Once you've successfully reset your password, you can log in with your new credentials.</li>
                      </ul>                   
                     </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do I enroll in a course?                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>If you've been provided with a course enrollment code by your instructor, follow these steps:</p>
                      <ul>
                        <li>Log in to your account on our website.</li>
                        <li>Find the option to "Enroll in a Course" or "Join a Class."</li>
                        <li>Enter the enrollment code provided by your instructor.</li>
                        <li>Click on the "Enroll" or "Join" button.</li>
                        <li>You should now be enrolled in the course and have access to its content.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
      <!-- Footer Start -->
      <div class="container-fluid bg-light text-gray footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-black mb-3">Quick Link</h4>
                    <a class="btn btn-link" href="/about">About Us</a>
                    <a class="btn btn-link" href="/contact">Contact Us</a>
                    <a class="btn btn-link" href="/privacypolicy">Privacy Policy</a>
                    <a class="btn btn-link" href="/terms">Terms & Condition</a>
                    <a class="btn btn-link" href="/faq">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-black mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Beirut, Lebanon</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+03 222 555</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>BlueLearn@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-icons btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-icons btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-icons btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-icons btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-black mb-3">Features</h4>
                    <p class="mb-2"><i class="fas fa-graduation-cap me-3"></i>Skilled Instructors</p>
                    <p class="mb-2"><i class="fas fa-chalkboard me-3"></i>Online Classes</p>
                    <p class="mb-2"><i class="fas fa-robot me-3"></i>Interactive Chatbot</p>
                    <p class="mb-2"><i class="fas fa-comments me-3"></i>Interactive Feed</p>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; BlueLearn, All Right Reserved 2024
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="/">Home</a>
                            <a href="/cookies">Cookies</a>
                            <a href="/faq">FAQs & Help</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</body>
<script src="https://unpkg.com/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
