<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Favicon -->
    <link href="static/images/favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.home.css" rel="stylesheet">
    <link href="static/css/reset_password_style.css" rel="stylesheet">
</head>
<body>
    <!-- Form Start -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
                <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>BlueLearn</h2>
</a>
</nav>
<!-- Navbar End -->
<a href="/forgot_password"button class="custom-button"><i class="fas fa-arrow-left"></i></button></a>
    <div class="overlay"></div>
    <div class="form">    
        <div class="form-panel one">
            <div class="form-header">
                <h1>Reset Password</h1>
            </div>
            <div class="form-content">
                {% include 'includes/_messages.html' %}
                <form action="/reset_password" method="POST">
                    <input type="hidden" name="email" value="{{ email }}">
                    <input type="hidden" name="role" value="{{ role }}">
                    <br>
                   <!-- Display Security Question -->
                    <div class="form-group">
                        <label for="security_question">Security Question</label>
                        <input class="form-control" id="security_question" value="{{ security_question }}" readonly>
                    </div>

                    <!-- Add security answer field -->
                    <div class="form-group">
                        <label for="security_answer">Security Answer</label>
                        <input type="text" id="security_answer" name="security_answer" required placeholder="Security Answer">
                    </div>
                    <!-- Add new password field -->
                    <div class="form-group">
                        <label for="new_password">New Password</label>
                        <input type="password" id="new_password" name="new_password" minlength="6" maxlength="12" required placeholder="New Password">

                    </div>
                    <!-- Add confirm password field -->
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" id="confirm_password" name="confirm_password" minlength="6" maxlength="12" required placeholder="Confirm Password">
                    </div>
                    <!-- Add submit button -->
                    <div class="form-group">
                        <button type="submit" name="submit_reset_password">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Form End -->
    </body>
    </html>